#!/bin/sh
#
# 1. Delete the .EXAMPLE extension on this file
# 2. Make it executable (chmod +x)
# 3. Fix the credentials below
#
# setPassword [--u USERNAME | --e EMAIL | --i ID] --p NEWPASSWORD
#
#####################################################################

# Localhost
export SETPASSWORD_PG_HOST='localhost'
export SETPASSWORD_PG_USER='andrew'
export SETPASSWORD_PG_PASSWORD=''
export SETPASSWORD_PG_DATABASE='tl'

node ./setPassword.js $@
